<!doctype html>
<html lang="en">
  <head>
      <!-- head include -->
    <% include partials/head.ejs %>
  </head>
  <body>
    <% include partials/header.ejs %>
    <div id="hero-image-notFound">
        <h1 id="hero-title"><%= title %></h1>
    </div>
    



  

    
    
    
    
    <!-- javascript include -->
    <% include partials/scripts.ejs %>
  </body>
</html>